* {
    box-sizing: border-box;
}

body {
    background-color: lavender;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px 30px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #000000;
}

input[type="file"], input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

input[type="text"]:readonly {
    background-color: #f9f9f9;
    color: #666;
}

#e, #c {
    margin-bottom: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

button {
    background-color: #c779ef;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    margin: 10px 0;
    width: 100%;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: yellowgreen;
}

#timer {
    margin-top: 15px;
    font-size: 14px;
    color: coral;
}